h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

div#finder {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

img {
    height: 200px;
    width: 500px;
}

button {
    font-family: 'Courier New', Courier, monospace;    4444444444yuyyyyyf
    margin-bottom: 20px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}   
